.info {
  position: fixed;
  top: 0px;
  right: 0px;
  box-sizing: border-box;
  height: 100vh;
  padding-top: 30px;
  padding-right: 30px;
  color: #777;
}


.info spam{
  color: #333;
}

.info-content {
  border: 1px solid #999;
  border-radius: 8px;
  padding: 20px;
  box-sizing: border-box;
  min-width: 160px;
  background: #fff;
}

.content-new-game {
  width: 150px;
  margin-top: 20px;
}

.content-new-game > button {
  width: 100%;
}